.headers
  height: 140px
  width: 110%
  margin-top: -20px
  background-color: #1eb795

.fonts
  top: 50px
  left: 55px
  position: relative
  color: white
  font-family: Sans-serif
  font-size: 30px

.photo-grid
  position: relative
  margin-top: 160px
  left: 150px
