.headers
  height: 120px
  width: 100%
  margin-top: -20px
  background-color: #1eb795

.fonts
  top: 20px
  left: 40px
  position: relative
  color: white
  font-family: Sans-serif
  font-size: 30px

.photo-grid
  position: relative
  margin-top: 30px
  left: 150px

.single-grid
  position: relative
  margin-top: 30px
  left: 50px

.grid
  flex-basis calc(33.333% - 4rem)
  flex-grow 1
  float left
  flex-shrink 0
  margin 0 2rem 2rem 2rem
  padding 3rem
  border 1px solid lightgray
  background white
  box-shadow 0 0 0 1px rgba(0,0,0,0.03);
  width: 270px
  height: 160px;
  margin: 30px

.grid:hover
  border-color: #1eb795

.grid1:hover
  border-color: #1eb795
  color: #1eb795

.grid1
  flex-basis calc(33.333% - 4rem)
  flex-grow 1
  float left
  flex-shrink 0
  margin 0 2rem 2rem 2rem
  padding 3rem
  border 1px solid lightgray
  background white
  box-shadow 0 0 0 1px rgba(0,0,0,0.03);
  width: 270px
  height: 160px;
  margin: 30px

.task-heading
  font-size: 20px
  color: #574b54

.task-desc
  font-size: 12px
  color: #9f9ba9

.grid-photo-wrap
  position: relative

.dropdown-size
  width: auto
  height: auto

.modal
  right: 0
  bottom: 0

.namecard
  border 1px solid lightgrey
  background white
  box-shadow 0 0 0 4px rgba(0,0,0,0.03)
  padding-top: 20px
  padding-right: 20px
  padding-bottom: 50px
  padding-left: 70px
  width: 250px
  height: 70px
  left: 10px
  position: relative

.vertical-line
  height: 550px
  border-left: 1px dashed lightgray

.individual-task
  border 1px solid lightgrey
  background white
  box-shadow 0 0 0 4px rgba(0,0,0,0.03)
  padding-top: 20px
  padding-right: 20px
  padding-bottom: 50px
  padding-left: 15px
  width: 250px
  height: 70px
  left: 10px
  position: relative
  left: 60px
  bottom: 460px
  font-size: 13px

.dropdown-status
  font-size: smaller
  bottom: 21px
  left: 107px
  position: relative
  height: 17px
  width: 50px

.description
  bottom: 20px
  position: relative
  font-size: smaller

.status-font
  position: relative
  bottom: 5px
  right: 10px
  font-size:10px
