.headers
  height: 140px;
  width: 110%;
  margin-top: -20px;
  background-color: #1eb795

.fonts
  top: 20px;
  left: 55px;
  position: absolute
  color: white;
  font-family: Sans-serif;
  font-size: 30px;
